@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a:not(.muted),
.blue {
  text-decoration: none;
  color: #2792f7;
  transition: 0.4s;
}

a.muted {
  text-decoration: none;
  color: unset;
  transition: 0.4s;
}

h1.header {
  font-weight: bold;
  text-align: left;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(39, 146, 247, 0.2);
  }
}

@media screen and (max-width: 1300px) {
  .hide-sm {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .hide-xs {
    display: none;
  }

  #app {
    padding: 0;
  }
}

pre.hljs,
pre.hljs code.hljs {
  border-radius: 10px;
}